@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
html,
body {
  width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
  font-family: "Outfit", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

